<div class="navbar navbar-expand-lg sticky-top bg-colour">
  <div class="container-fluid">
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarCollapse"
    >
      <div class="navbar-nav mr-auto">
        <a href="#home" class="nav-item nav-link active bg-colour">Home</a>
        <a href="#about" class="nav-item nav-link bg-colour">About</a>
        <a href="#skills" class="nav-item nav-link bg-colour">Skills</a>
        <a href="#publications" class="nav-item nav-link bg-colour"
          >Publications</a
        >
        <a href="#education" class="nav-item nav-link bg-colour">Education</a>
        <a href="#contact" class="nav-item nav-link bg-colour">Contact</a>
      </div>
    </div>
  </div>
</div>
